<a href="https://colab.research.google.com/github/Toeylik/kku_data_mining/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np
import pandas as pd
from matplotlib import  pyplot as plt

In [61]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM_material'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [62]:
nb = pd.read_csv('/content/drive/My Drive/DWDM_material/newbooks.csv')
nb

      book_id  ...                                          image_url
0          27  ...  https://images.gr-assets.com/books/1361039191l...
1          21  ...  https://images.gr-assets.com/books/1387141547l...
2           2  ...  https://images.gr-assets.com/books/1474154022l...
3          18  ...  https://images.gr-assets.com/books/1499277281l...
4          24  ...  https://images.gr-assets.com/books/1361482611l...
...       ...  ...                                                ...
9995     7523  ...  https://images.gr-assets.com/books/1502156557l...
9996     4594  ...  https://images.gr-assets.com/books/1473164102l...
9997     9569  ...  https://images.gr-assets.com/books/1476284759l...
9998     9580  ...  https://images.gr-assets.com/books/1479387807l...
9999     8892  ...  https://s.gr-assets.com/assets/nophoto/book/11...

[10000 rows x 14 columns]

In [63]:
nb.isnull().any()

book_id                      False
goodreads_book_id            False
authors                      False
original_publication_year     True
original_title                True
title                        False
language_code                 True
average_rating               False
ratings_count                False
medium_image_url             False
small_image_url              False
desc                          True
genre                         True
image_url                    False
dtype: bool

In [64]:
ratings = pd.read_csv('/content/drive/My Drive/DWDM_material/ratings.csv')
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
1048570    16290      119       2
1048571     7453       13       5
1048572     7453       58       5
1048573     7453      706       5
1048574     7453     1178       5

[1048575 rows x 3 columns]

In [65]:
ratings.isnull().any()

user_id    False
book_id    False
rating     False
dtype: bool

In [66]:
bookmerge = nb.merge(ratings,how='left', left_on='book_id',right_on='book_id')
bookmerge

         book_id  goodreads_book_id  ... user_id  rating
0             27                  1  ...     4.0     5.0
1             27                  1  ...    15.0     4.0
2             27                  1  ...    29.0     5.0
3             27                  1  ...    31.0     3.0
4             27                  1  ...    24.0     4.0
...          ...                ...  ...     ...     ...
1050796     7523           31538647  ...     NaN     NaN
1050797     4594           31845516  ...     NaN     NaN
1050798     9569           32075671  ...     NaN     NaN
1050799     9580           32848471  ...     NaN     NaN
1050800     8892           33288638  ...     NaN     NaN

[1050801 rows x 16 columns]

In [67]:
bookmerge = bookmerge.dropna()
bookmerge

         book_id  goodreads_book_id  ...  user_id  rating
0             27                  1  ...      4.0     5.0
1             27                  1  ...     15.0     4.0
2             27                  1  ...     29.0     5.0
3             27                  1  ...     31.0     3.0
4             27                  1  ...     24.0     4.0
...          ...                ...  ...      ...     ...
1050126     5441           19747756  ...  16255.0     2.0
1050716     8138           27864391  ...   4976.0     2.0
1050717     8138           27864391  ...   7606.0     5.0
1050718     8138           27864391  ...   4500.0     5.0
1050719     8138           27864391  ...   5964.0     5.0

[976071 rows x 16 columns]

In [68]:
bookmerge.drop(columns=['language_code','original_publication_year','medium_image_url','small_image_url','desc','image_url'])

         book_id  goodreads_book_id  ...  user_id rating
0             27                  1  ...      4.0    5.0
1             27                  1  ...     15.0    4.0
2             27                  1  ...     29.0    5.0
3             27                  1  ...     31.0    3.0
4             27                  1  ...     24.0    4.0
...          ...                ...  ...      ...    ...
1050126     5441           19747756  ...  16255.0    2.0
1050716     8138           27864391  ...   4976.0    2.0
1050717     8138           27864391  ...   7606.0    5.0
1050718     8138           27864391  ...   4500.0    5.0
1050719     8138           27864391  ...   5964.0    5.0

[976071 rows x 10 columns]

In [69]:
bookratinghigh = bookmerge[bookmerge['rating']>=3]
bookratinghigh

         book_id  goodreads_book_id  ...  user_id  rating
0             27                  1  ...      4.0     5.0
1             27                  1  ...     15.0     4.0
2             27                  1  ...     29.0     5.0
3             27                  1  ...     31.0     3.0
4             27                  1  ...     24.0     4.0
...          ...                ...  ...      ...     ...
1050124     5441           19747756  ...  16007.0     3.0
1050125     5441           19747756  ...  16046.0     4.0
1050717     8138           27864391  ...   7606.0     5.0
1050718     8138           27864391  ...   4500.0     5.0
1050719     8138           27864391  ...   5964.0     5.0

[882015 rows x 16 columns]

In [70]:
bookratinglow = bookmerge[bookmerge['rating']<3]
bookratinglow

         book_id  goodreads_book_id  ...  user_id  rating
16            27                  1  ...    124.0     2.0
217           27                  1  ...   1368.0     2.0
314           27                  1  ...   1889.0     2.0
362           27                  1  ...   2210.0     2.0
417           27                  1  ...   2466.0     1.0
...          ...                ...  ...      ...     ...
1050117     5441           19747756  ...  14512.0     2.0
1050118     5441           19747756  ...  15421.0     2.0
1050120     5441           19747756  ...  15536.0     2.0
1050126     5441           19747756  ...  16255.0     2.0
1050716     8138           27864391  ...   4976.0     2.0

[94056 rows x 16 columns]

In [71]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

##จำนวนRating มากกว่าเท่ากับ 3

In [72]:
from apyori import apriori

In [73]:
author= bookratinghigh.groupby('user_id')['authors'].apply(list)
author

user_id
1.0        [Douglas Adams, Leo Tolstoy, Henry Gifford, Ay...
2.0        [J.K. Rowling, Arthur Golden, Dan Brown, Thoma...
3.0        [Billy Collins, David    Allen, Harper Lee, Am...
4.0        [J.K. Rowling, Mary GrandPré, J.K. Rowling, Ma...
6.0                                        [Sarah Macdonald]
                                 ...
22351.0    [J.K. Rowling, Mary GrandPré, J.K. Rowling, Ma...
24420.0    [David McCullough, Anita Shreve, Roald Dahl, Q...
37076.0    [J.K. Rowling, Mary GrandPré, J.K. Rowling, Ma...
41961.0    [Arthur Conan Doyle, Anne Perry, Elizabeth Kos...
42208.0    [Paulo Coelho, Alan R. Clarke, John Steinbeck,...
Name: authors, Length: 13101, dtype: object

In [74]:
list(apriori(author, min_support = 0.3 , min_confidence = 0.8))

[RelationRecord(items=frozenset({'J.K. Rowling, Mary GrandPré, Rufus Beck', 'J.K. Rowling, Mary GrandPré'}), support=0.31974658423021146, ordered_statistics=[OrderedStatistic(items_base=frozenset({'J.K. Rowling, Mary GrandPré, Rufus Beck'}), items_add=frozenset({'J.K. Rowling, Mary GrandPré'}), confidence=0.988204765274829, lift=2.214207393512149)])]

คนมักอ่านผลงานของผู้แต่ง J.K. Rowling, Mary GrandPré, Rufus Beck ก่อนแล้วค่อยอ่านผลงานของผู้แต่ง J.K. Rowling, Mary GrandPré คิดเป็นร้อยละ 98.82

In [75]:
count4 = bookratinghigh.groupby('authors').count().sort_values('user_id',ascending = False)
count_authors1 = count4.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','title','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_authors1.head(10)

                             user_id
authors
J.K. Rowling, Mary GrandPré    25228
Stephen King                   14773
Stephenie Meyer                11862
J.R.R. Tolkien                 10873
Dan Brown                       8109
John Grisham                    7836
C.S. Lewis                      7550
Suzanne Collins                 7352
Charlaine Harris                7141
John Steinbeck                  7106

กำหนดให้ authors เป็น transaction โดยดับจาก user_id โดยเรียงลำดับจากมากไปหน่อย

In [76]:
title = bookratinghigh.groupby('user_id')['title'].apply(list)
title

user_id
1.0        [The Hitchhiker's Guide to the Galaxy (Hitchhi...
2.0        [Harry Potter Collection (Harry Potter, #1-6),...
3.0        [Sailing Alone Around the Room: New and Select...
4.0        [Harry Potter and the Half-Blood Prince (Harry...
6.0                          [Holy Cow: An Indian Adventure]
                                 ...
22351.0    [Harry Potter and the Half-Blood Prince (Harry...
24420.0    [1776, The Pilot's Wife, Boy: Tales of Childho...
37076.0    [Harry Potter and the Half-Blood Prince (Harry...
41961.0    [The Hound of the Baskervilles, The Historian,...
42208.0    [The Alchemist, Of Mice and Men, Memoirs of a ...
Name: title, Length: 13101, dtype: object

In [77]:
list(apriori(title, min_support = 0.3 , min_confidence = 0.8))

[RelationRecord(items=frozenset({'Harry Potter and the Goblet of Fire (Harry Potter, #4)', 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)'}), support=0.30058774139378674, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter and the Goblet of Fire (Harry Potter, #4)'}), items_add=frozenset({'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)'}), confidence=0.9347258485639688, lift=2.888851932539881), OrderedStatistic(items_base=frozenset({'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)'}), items_add=frozenset({'Harry Potter and the Goblet of Fire (Harry Potter, #4)'}), confidence=0.9289926869544705, lift=2.8888519325398807)])]

ผู้ที่อ่านหนังสือเรื่อง Harry Potter and the Prisoner of Azkaban (Harry Potter, #3 ก่อนแล้วค่อยมาอ่านเรื่อง Harry Potter and the Goblet of Fire (Harry Potter, #4) คิดเป็นร้อยละ 92.89

In [78]:
count5 = bookratinghigh.groupby('title').count().sort_values('user_id',ascending = False)
count_title1 = count5.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_title1.head(10)

                                                    user_id
title
Harry Potter and the Sorcerer's Stone (Harry Po...     4700
To Kill a Mockingbird                                  4461
Harry Potter and the Prisoner of Azkaban (Harry...     4239
Harry Potter and the Goblet of Fire (Harry Pott...     4213
Harry Potter and the Chamber of Secrets (Harry ...     4104
Harry Potter and the Deathly Hallows (Harry Pot...     4072
Harry Potter and the Order of the Phoenix (Harr...     4070
Harry Potter and the Half-Blood Prince (Harry P...     4057
The Da Vinci Code (Robert Langdon, #2)                 3759
The Great Gatsby                                       3489

กำหนดให้ title เป็น transaction โดยดับจาก user_id โดยเรียงลำดับจากมากไปหน่อย

In [79]:
genre = bookratinghigh.groupby('user_id')['genre'].apply(list)
genre

user_id
1.0        [science-fiction, classics, fiction, classics,...
2.0        [fantasy, fiction, fiction, non-fiction, non-f...
3.0        [poetry, owned, classics, classics, fiction, p...
4.0        [fantasy, fantasy, fantasy, fantasy, fantasy, ...
6.0                                                 [travel]
                                 ...
22351.0    [fantasy, fantasy, fantasy, fantasy, fantasy, ...
24420.0    [history, fiction, non-fiction, non-fiction, n...
37076.0    [fantasy, fantasy, fantasy, fantasy, fantasy, ...
41961.0    [classics, fiction, fiction, fiction, fantasy,...
42208.0    [fiction, classics, fiction, fiction, classics...
Name: genre, Length: 13101, dtype: object

In [92]:
list(apriori(genre, min_support = 0.8, min_confidence = 0.8))

[RelationRecord(items=frozenset({'classics'}), support=0.8576444546217846, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'classics'}), confidence=0.8576444546217846, lift=1.0)]),
 RelationRecord(items=frozenset({'fantasy'}), support=0.8342874589725975, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fantasy'}), confidence=0.8342874589725975, lift=1.0)]),
 RelationRecord(items=frozenset({'fiction'}), support=0.9578658117700939, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fiction'}), confidence=0.9578658117700939, lift=1.0)]),
 RelationRecord(items=frozenset({'fiction', 'classics'}), support=0.8460422868483322, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fiction', 'classics'}), confidence=0.8460422868483322, lift=1.0), OrderedStatistic(items_base=frozenset({'classics'}), items_add=frozenset({'fiction'}), confidence=0.9864720541117835, lift=1.0298645613928181), OrderedStatistic(items_base=frozenset({'fiction'}), items_add=frozenset({'classics'}), confidence=0.883257630090047, lift=1.0298645613928181)]),
 RelationRecord(items=frozenset({'fiction', 'fantasy'}), support=0.8083352415846119, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fiction', 'fantasy'}), confidence=0.8083352415846119, lift=1.0), OrderedStatistic(items_base=frozenset({'fantasy'}), items_add=frozenset({'fiction'}), confidence=0.968892955169259, lift=1.0115122006273378), OrderedStatistic(items_base=frozenset({'fiction'}), items_add=frozenset({'fantasy'}), confidence=0.8438919435811619, lift=1.0115122006273378)])]

ผู้อ่านมักอ่านหนังสือประเภท fiction ก่อนแล้วค่อยเลือกอ่านหนังสือประเภท classics คิดเป็นร้อยละ 88.32

In [81]:
count6 = bookratinghigh.groupby('genre').count().sort_values('user_id',ascending = False)
count_genre1 = count6.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','title','image_url','rating'])
count_genre1.head(10)

                    user_id
genre
fiction              205641
classics             141576
fantasy              128309
young-adult           51045
non-fiction           49630
historical-fiction    32488
mystery               30464
science-fiction       26547
horror                24566
childrens             18888

กำหนดให้ genre เป็น transaction โดยดับจาก user_id โดยเรียงลำดับจากมากไปหน่อย

##จำนวนRating น้อยกว่า 3

In [82]:
author1= bookratinglow.groupby('user_id')['authors'].apply(list)
author1

user_id
1.0        [Gabriel García Márquez, Gregory Rabassa, Ayn ...
3.0        [Ayn Rand, Leonard Peikoff, Neal Stephenson, J...
4.0        [J.R.R. Tolkien, Gabriel García Márquez, Grego...
7.0        [Frank Herbert, Robert A. Heinlein, Stephen Ki...
8.0        [Barbara Ehrenreich, Jane Austen, Jane Austen,...
                                 ...
16285.0    [Bernhard Schlink, Carol Brown Janeway, Muriel...
16287.0    [Douglas Adams, Stephen Hawking, Leonard Mlodi...
16290.0    [Emily Brontë, Richard J. Dunn, George Orwell,...
22351.0        [Victor Hugo, Lee Fahnestock, Norman MacAfee]
37076.0      [Kim Edwards, Stephenie Meyer, Stephenie Meyer]
Name: authors, Length: 11110, dtype: object

In [83]:
list(apriori(author1, min_support = 0.1 , min_confidence = 0.07))

[RelationRecord(items=frozenset({'Dan Brown'}), support=0.1548154815481548, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Dan Brown'}), confidence=0.1548154815481548, lift=1.0)]),
 RelationRecord(items=frozenset({'Stephenie Meyer'}), support=0.16255625562556256, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Stephenie Meyer'}), confidence=0.16255625562556256, lift=1.0)])]

In [84]:
count1 = bookratinglow.groupby('authors').count().sort_values('user_id',ascending = False)
count_authors = count1.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','title','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_authors.head(10)

                             user_id
authors
Stephenie Meyer                 3254
Dan Brown                       2133
Stephen King                    1975
John Grisham                    1066
Nicholas Sparks                  982
J.K. Rowling, Mary GrandPré      856
Anne Rice                        838
John Steinbeck                   838
Michael Crichton                 807
Jodi Picoult                     758

กำหนดให้ authors เป็น transaction โดยดับจาก user_id โดยเรียงลำดับจากมากไปหน่อย

In [85]:
title1 = bookratinglow.groupby('user_id')['title'].apply(list)
title1

user_id
1.0        [One Hundred Years of Solitude, Atlas Shrugged...
3.0        [Atlas Shrugged, Cryptonomicon, Of Mice and Me...
4.0        [The Fellowship of the Ring (The Lord of the R...
7.0        [Heretics of Dune (Dune Chronicles #5), Job: A...
8.0        [Nickel and Dimed: On (Not) Getting By in Amer...
                                 ...
16285.0    [The Reader, The Elegance of the Hedgehog, Lit...
16287.0    [The Hitchhiker's Guide to the Galaxy (Hitchhi...
16290.0    [Wuthering Heights, Animal Farm, Lord of the F...
22351.0                                     [Les Misérables]
37076.0    [The Memory Keeper's Daughter, Eclipse (Twilig...
Name: title, Length: 11110, dtype: object

In [86]:
list(apriori(title1, min_support = 0.09 , min_confidence = 0.09))

[RelationRecord(items=frozenset({'Twilight (Twilight, #1)'}), support=0.09081908190819082, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Twilight (Twilight, #1)'}), confidence=0.09081908190819082, lift=1.0)])]

In [87]:
count2 = bookratinglow.groupby('title').count().sort_values('user_id',ascending = False)
count_title = count2.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_title.head(10)

                                        user_id
title
Twilight (Twilight, #1)                    1009
The Da Vinci Code (Robert Langdon, #2)      966
New Moon (Twilight, #2)                     715
Breaking Dawn (Twilight, #4)                661
Eat, Pray, Love                             596
The Catcher in the Rye                      586
Eclipse (Twilight, #3)                      570
Angels & Demons  (Robert Langdon, #1)       512
The Scarlet Letter                          494
The Great Gatsby                            491

กำหนดให้ title เป็น transaction โดยดับจาก user_id โดยเรียงลำดับจากมากไปหน่อย

In [88]:
genre1= bookratinglow.groupby('user_id')['genre'].apply(list)
genre1

user_id
1.0        [classics, fiction, fiction, science-fiction, ...
3.0        [fiction, fiction, classics, classics, romance...
4.0        [fantasy, classics, fiction, fiction, fiction,...
7.0        [science-fiction, science-fiction, fantasy, fa...
8.0        [non-fiction, classics, classics, classics, fi...
                                 ...
16285.0               [fiction, fiction, historical-fiction]
16287.0    [science-fiction, non-fiction, non-fiction, ho...
16290.0    [classics, classics, classics, fiction, fictio...
22351.0                                           [classics]
37076.0                      [fiction, young-adult, fantasy]
Name: genre, Length: 11110, dtype: object

In [89]:
list(apriori(genre1, min_support = 0.3, min_confidence = 0.5))

[RelationRecord(items=frozenset({'fiction'}), support=0.7306930693069307, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fiction'}), confidence=0.7306930693069307, lift=1.0)]),
 RelationRecord(items=frozenset({'fiction', 'classics'}), support=0.38586858685868586, ordered_statistics=[OrderedStatistic(items_base=frozenset({'classics'}), items_add=frozenset({'fiction'}), confidence=0.7863169479090242, lift=1.076124820309098), OrderedStatistic(items_base=frozenset({'fiction'}), items_add=frozenset({'classics'}), confidence=0.5280857354028086, lift=1.076124820309098)])]

In [90]:
count3 = bookratinghigh.groupby('genre').count().sort_values('user_id',ascending = False)
count_genre = count3.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','title','image_url','rating'])
count_genre.head(10)

                    user_id
genre
fiction              205641
classics             141576
fantasy              128309
young-adult           51045
non-fiction           49630
historical-fiction    32488
mystery               30464
science-fiction       26547
horror                24566
childrens             18888

กำหนดให้ genre เป็น transaction โดยดับจาก user_id โดยเรียงลำดับจากมากไปหน่อย