<a href="https://colab.research.google.com/github/Toeylik/kku_data_mining/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project หาค่าความสัมพันธ์ของผู้อ่านหนังสือ

# จัดทำโดย

นายธนกฤต หินทอง 613020239-0

นายลิขสิทธิ์ เกษวงษา 613020244-7

In [1]:
import numpy as np
import pandas as pd
from matplotlib import  pyplot as plt

เรียกไฟล์ที่อยู่ใน Google Drive มาลงใน Google Colab

In [2]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM_material'

Mounted at /content/drive

เรียกตารางที่ชื่อ newbooks จาก Google Drive โดยให้ชื่อว่า nb

In [3]:
nb = pd.read_csv('/content/drive/My Drive/DWDM_material/newbooks.csv')
nb

      book_id  ...                                          image_url
0          27  ...  https://images.gr-assets.com/books/1361039191l...
1          21  ...  https://images.gr-assets.com/books/1387141547l...
2           2  ...  https://images.gr-assets.com/books/1474154022l...
3          18  ...  https://images.gr-assets.com/books/1499277281l...
4          24  ...  https://images.gr-assets.com/books/1361482611l...
...       ...  ...                                                ...
9995     7523  ...  https://images.gr-assets.com/books/1502156557l...
9996     4594  ...  https://images.gr-assets.com/books/1473164102l...
9997     9569  ...  https://images.gr-assets.com/books/1476284759l...
9998     9580  ...  https://images.gr-assets.com/books/1479387807l...
9999     8892  ...  https://s.gr-assets.com/assets/nophoto/book/11...

[10000 rows x 14 columns]

เช็คค่า Null ในตาราง nb

In [4]:
nb.isnull().any()

book_id                      False
goodreads_book_id            False
authors                      False
original_publication_year     True
original_title                True
title                        False
language_code                 True
average_rating               False
ratings_count                False
medium_image_url             False
small_image_url              False
desc                          True
genre                         True
image_url                    False
dtype: bool

เรียกตารางที่ชื่อ ratings จาก Google Drive โดยให้ชื่อว่า ratings

In [5]:
ratings = pd.read_csv('/content/drive/My Drive/DWDM_material/ratings.csv')
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
1048570    16290      119       2
1048571     7453       13       5
1048572     7453       58       5
1048573     7453      706       5
1048574     7453     1178       5

[1048575 rows x 3 columns]

้เช็คค่า Null ของตาราง ratings

In [6]:
ratings.isnull().any()

user_id    False
book_id    False
rating     False
dtype: bool

ทำการ join ตาราง  nb กับ rating โดยให้ ratings เป็นตารางหลักและให้ชื่อตารางว่า Bookmerge

In [7]:
bookmerge = ratings.merge(nb,how='left', left_on='book_id',right_on='book_id')
bookmerge

         user_id  ...                                          image_url
0              1  ...  https://images.gr-assets.com/books/1344545047l...
1              2  ...  https://s.gr-assets.com/assets/nophoto/book/11...
2              2  ...  https://images.gr-assets.com/books/1442726934l...
3              2  ...  https://images.gr-assets.com/books/1339395245l...
4              2  ...  https://s.gr-assets.com/assets/nophoto/book/11...
...          ...  ...                                                ...
1048570    16290  ...  https://images.gr-assets.com/books/1498057733l...
1048571     7453  ...  https://images.gr-assets.com/books/1348990566l...
1048572     7453  ...  https://images.gr-assets.com/books/1405973850l...
1048573     7453  ...  https://images.gr-assets.com/books/1308815551l...
1048574     7453  ...  https://images.gr-assets.com/books/1376406798l...

[1048575 rows x 16 columns]

ทำการ Drop ค่า Null ออกจากตาราง

In [8]:
bookmerge = bookmerge.dropna()
bookmerge

         user_id  ...                                          image_url
0              1  ...  https://images.gr-assets.com/books/1344545047l...
2              2  ...  https://images.gr-assets.com/books/1442726934l...
3              2  ...  https://images.gr-assets.com/books/1339395245l...
4              2  ...  https://s.gr-assets.com/assets/nophoto/book/11...
5              2  ...  https://images.gr-assets.com/books/1303252999l...
...          ...  ...                                                ...
1048570    16290  ...  https://images.gr-assets.com/books/1498057733l...
1048571     7453  ...  https://images.gr-assets.com/books/1348990566l...
1048572     7453  ...  https://images.gr-assets.com/books/1405973850l...
1048573     7453  ...  https://images.gr-assets.com/books/1308815551l...
1048574     7453  ...  https://images.gr-assets.com/books/1376406798l...

[976071 rows x 16 columns]

ทำการ Drop Columns ที่ไม่ได้ใช้ทิ้งออกไป

In [9]:
bookmerge.drop(columns=['language_code','original_publication_year','medium_image_url','small_image_url','desc','image_url'])

         user_id  book_id  rating  ...  average_rating ratings_count        genre
0              1      258       5  ...            4.24        263685      fiction
2              2      260       5  ...            4.13        282623  non-fiction
3              2     9296       5  ...            4.09          9563   psychology
4              2     2318       3  ...            4.00         43937  non-fiction
5              2       26       4  ...            3.79       1447148      fiction
...          ...      ...     ...  ...             ...           ...          ...
1048570    16290      119       2  ...            4.06        607889      fiction
1048571     7453       13       5  ...            4.14       1956832      fiction
1048572     7453       58       5  ...            3.80        953758     classics
1048573     7453      706       5  ...            3.90        117108     classics
1048574     7453     1178       5  ...            3.84         84682     classics

[976071 rows x 10 columns]

ให้ตาราง bookmerge แสดงค่าที่มี rating มากกว่าเท่ากับ 3 โดยให้ชื่อตารางว่า bookratinghing

In [10]:
bookratinghigh = bookmerge[bookmerge['rating']>=3]
bookratinghigh

         user_id  ...                                          image_url
0              1  ...  https://images.gr-assets.com/books/1344545047l...
2              2  ...  https://images.gr-assets.com/books/1442726934l...
3              2  ...  https://images.gr-assets.com/books/1339395245l...
4              2  ...  https://s.gr-assets.com/assets/nophoto/book/11...
5              2  ...  https://images.gr-assets.com/books/1303252999l...
...          ...  ...                                                ...
1048569     7453  ...  https://images.gr-assets.com/books/1404811979l...
1048571     7453  ...  https://images.gr-assets.com/books/1348990566l...
1048572     7453  ...  https://images.gr-assets.com/books/1405973850l...
1048573     7453  ...  https://images.gr-assets.com/books/1308815551l...
1048574     7453  ...  https://images.gr-assets.com/books/1376406798l...

[882015 rows x 16 columns]

ให้ตาราง bookmerge แสดงค่าที่มี rating น้อยกว่า 3 โดยให้ชื่อตารางว่า bookratinglow

In [11]:
bookratinglow = bookmerge[bookmerge['rating']<3]
bookratinglow

         user_id  ...                                          image_url
23             4  ...  https://images.gr-assets.com/books/1405868167l...
32             4  ...  https://s.gr-assets.com/assets/nophoto/book/11...
65             4  ...  https://s.gr-assets.com/assets/nophoto/book/11...
119            9  ...  https://images.gr-assets.com/books/1303252999l...
120            9  ...  https://images.gr-assets.com/books/1303390735l...
...          ...  ...                                                ...
1048549    16290  ...  https://images.gr-assets.com/books/1327958767l...
1048557    16290  ...  https://s.gr-assets.com/assets/nophoto/book/11...
1048565     7453  ...  https://images.gr-assets.com/books/1400841022l...
1048567     7453  ...  https://s.gr-assets.com/assets/nophoto/book/11...
1048570    16290  ...  https://images.gr-assets.com/books/1498057733l...

[94056 rows x 16 columns]

In [12]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=2892acb29af87ac3eb654618fd65731961ec079196b71b4aed3b32efb82651b0
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

##จำนวนRating มากกว่าเท่ากับ 3

In [13]:
from apyori import apriori

In [14]:
author= bookratinghigh.groupby('user_id')['authors'].apply(list)
author

user_id
1        [Carlos Ruiz Zafón, Lucia Graves, Kazuo Ishigu...
2        [Dale Carnegie, Alice  Miller, Ruth Ward, Thom...
3        [Harper Lee, Stephen R. Covey, Billy Collins, ...
4        [Orson Scott Card, Ernest Hemingway, Gary Paul...
6                                        [Sarah Macdonald]
                               ...
22351    [Shel Silverstein, Paulo Coelho, Alan R. Clark...
24420    [Azar Nafisi, Roald Dahl, Quentin Blake, Roald...
37076    [Paulo Coelho, Alan R. Clarke, Pascal Mercier,...
41961    [Steve Martin, Steve Martin, Steve Martin, Art...
42208    [Harper Lee, F. Scott Fitzgerald, Shel Silvers...
Name: authors, Length: 13101, dtype: object

In [15]:
list(apriori(author, min_support = 0.3 , min_confidence = 0.8))

[RelationRecord(items=frozenset({'J.K. Rowling, Mary GrandPré, Rufus Beck', 'J.K. Rowling, Mary GrandPré'}), support=0.31974658423021146, ordered_statistics=[OrderedStatistic(items_base=frozenset({'J.K. Rowling, Mary GrandPré, Rufus Beck'}), items_add=frozenset({'J.K. Rowling, Mary GrandPré'}), confidence=0.988204765274829, lift=2.214207393512149)])]

คนมักอ่านผลงานของผู้แต่ง J.K. Rowling, Mary GrandPré, Rufus Beck ก่อนแล้วค่อยอ่านผลงานของผู้แต่ง J.K. Rowling, Mary GrandPré คิดเป็นร้อยละ 98.82

In [16]:
count4 = bookratinghigh.groupby('authors').count().sort_values('user_id',ascending = False)
count_authors1 = count4.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','title','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_authors1.head(10)

                             user_id
authors
J.K. Rowling, Mary GrandPré    25228
Stephen King                   14773
Stephenie Meyer                11862
J.R.R. Tolkien                 10873
Dan Brown                       8109
John Grisham                    7836
C.S. Lewis                      7550
Suzanne Collins                 7352
Charlaine Harris                7141
John Steinbeck                  7106

กำหนดให้ authors เป็น transaction โดยนับจากจนวน user_id ที่สนในผลงานของผู้แต่งโดยเรียงลำดับจากมากไปหน่อย

In [17]:
title = bookratinghigh.groupby('user_id')['title'].apply(list)
title

user_id
1        [The Shadow of the Wind (The Cemetery of Forgo...
2        [How to Win Friends and Influence People, The ...
3        [To Kill a Mockingbird, The 7 Habits of Highly...
4        [Ender's Game (Ender's Saga, #1), The Sun Also...
6                          [Holy Cow: An Indian Adventure]
                               ...
22351    [Where the Sidewalk Ends, The Alchemist, Romeo...
24420    [Reading Lolita in Tehran, Boy: Tales of Child...
37076    [The Alchemist, Night Train to Lisbon, All Qui...
41961    [Shopgirl, Born Standing Up: A Comic's Life, T...
42208    [To Kill a Mockingbird, The Great Gatsby, Wher...
Name: title, Length: 13101, dtype: object

In [18]:
list(apriori(title, min_support = 0.3 , min_confidence = 0.8))

[RelationRecord(items=frozenset({'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)', 'Harry Potter and the Goblet of Fire (Harry Potter, #4)'}), support=0.30058774139378674, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter and the Goblet of Fire (Harry Potter, #4)'}), items_add=frozenset({'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)'}), confidence=0.9347258485639688, lift=2.888851932539881), OrderedStatistic(items_base=frozenset({'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)'}), items_add=frozenset({'Harry Potter and the Goblet of Fire (Harry Potter, #4)'}), confidence=0.9289926869544705, lift=2.8888519325398807)])]

ผู้ที่อ่านหนังสือเรื่อง Harry Potter and the Prisoner of Azkaban (Harry Potter, #3 ก่อนแล้วค่อยมาอ่านเรื่อง Harry Potter and the Goblet of Fire (Harry Potter,#4) คิดเป็นร้อยละ 92.89

In [19]:
count5 = bookratinghigh.groupby('title').count().sort_values('user_id',ascending = False)
count_title1 = count5.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_title1.head(10)

                                                    user_id
title
Harry Potter and the Sorcerer's Stone (Harry Po...     4700
To Kill a Mockingbird                                  4461
Harry Potter and the Prisoner of Azkaban (Harry...     4239
Harry Potter and the Goblet of Fire (Harry Pott...     4213
Harry Potter and the Chamber of Secrets (Harry ...     4104
Harry Potter and the Deathly Hallows (Harry Pot...     4072
Harry Potter and the Order of the Phoenix (Harr...     4070
Harry Potter and the Half-Blood Prince (Harry P...     4057
The Da Vinci Code (Robert Langdon, #2)                 3759
The Great Gatsby                                       3489

กำหนดให้ title เป็น transaction โดยดับจากจำนวน user_id ที่สนใจในเรื่องที่ผู้อ่านสนใจโดยเรียงลำดับจากมากไปหน่อย

In [20]:
genre = bookratinghigh.groupby('user_id')['genre'].apply(list)
genre

user_id
1        [fiction, fiction, fiction, fiction, fiction, ...
2        [non-fiction, psychology, non-fiction, fiction...
3        [classics, non-fiction, poetry, christian, pla...
4        [science-fiction, classics, young-adult, fanta...
6                                                 [travel]
                               ...
22351    [poetry, fiction, classics, classics, fiction,...
24420    [non-fiction, non-fiction, childrens, kids-boo...
37076    [fiction, fiction, classics, classics, fantasy...
41961    [fiction, biography, fiction, classics, fictio...
42208    [classics, classics, poetry, classics, classic...
Name: genre, Length: 13101, dtype: object

In [21]:
list(apriori(genre, min_support = 0.8, min_confidence = 0.8))

[RelationRecord(items=frozenset({'classics'}), support=0.8576444546217846, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'classics'}), confidence=0.8576444546217846, lift=1.0)]),
 RelationRecord(items=frozenset({'fantasy'}), support=0.8342874589725975, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fantasy'}), confidence=0.8342874589725975, lift=1.0)]),
 RelationRecord(items=frozenset({'fiction'}), support=0.9578658117700939, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fiction'}), confidence=0.9578658117700939, lift=1.0)]),
 RelationRecord(items=frozenset({'fiction', 'classics'}), support=0.8460422868483322, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fiction', 'classics'}), confidence=0.8460422868483322, lift=1.0), OrderedStatistic(items_base=frozenset({'classics'}), items_add=frozenset({'fiction'}), confidence=0.9864720541117835, lift=1.0298645613928181), OrderedStatistic(items_base=frozenset({'fiction'}), items_add=frozenset({'classics'}), confidence=0.883257630090047, lift=1.0298645613928181)]),
 RelationRecord(items=frozenset({'fantasy', 'fiction'}), support=0.8083352415846119, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'fantasy', 'fiction'}), confidence=0.8083352415846119, lift=1.0), OrderedStatistic(items_base=frozenset({'fantasy'}), items_add=frozenset({'fiction'}), confidence=0.968892955169259, lift=1.0115122006273378), OrderedStatistic(items_base=frozenset({'fiction'}), items_add=frozenset({'fantasy'}), confidence=0.8438919435811619, lift=1.0115122006273378)])]

ผู้อ่านมักอ่านหนังสือประเภท fiction ก่อนแล้วค่อยเลือกอ่านหนังสือประเภท classics คิดเป็นร้อยละ 88.32

In [22]:
count6 = bookratinghigh.groupby('genre').count().sort_values('user_id',ascending = False)
count_genre1 = count6.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','title','image_url','rating'])
count_genre1.head(10)

                    user_id
genre
fiction              205641
classics             141576
fantasy              128309
young-adult           51045
non-fiction           49630
historical-fiction    32488
mystery               30464
science-fiction       26547
horror                24566
childrens             18888

กำหนดให้ genre เป็น transaction โดยดับจากจำนวน user_id ที่สนใจในประเภทของหนังสือโดยเรียงลำดับจากมากไปหน่อย

##จำนวนRating น้อยกว่า 3

In [32]:
author1= bookratinglow.groupby('user_id')['authors'].apply(list)
author1

user_id
1        [Augusten Burroughs, Gabriel García Márquez, G...
3        [David Mitchell, Jonathan Lethem, Anita Diaman...
4        [Ayn Rand, Leonard Peikoff, Kim Edwards, Dan B...
7        [Stephen King, Darrel Anderson, Stephen King, ...
8        [Toni Morrison, Gustave Flaubert, Margaret Mau...
                               ...
16285    [Chris Cleave, Bernhard Schlink, Carol Brown J...
16287    [Stephen Hawking, Leonard Mlodinow, Douglas Ad...
16290    [Emily Brontë, Richard J. Dunn, George Orwell,...
22351        [Victor Hugo, Lee Fahnestock, Norman MacAfee]
37076      [Kim Edwards, Stephenie Meyer, Stephenie Meyer]
Name: authors, Length: 11110, dtype: object

In [33]:
list(apriori(author1, min_support = 0.01 , min_confidence = 0.8))

[RelationRecord(items=frozenset({'Stephen King', 'Richard Bachman, Stephen King'}), support=0.01377137713771377, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Richard Bachman, Stephen King'}), items_add=frozenset({'Stephen King'}), confidence=0.8181818181818181, lift=9.200404858299594)])]

ผู้อ่านมักอ่านผลงานของ Richard Bachman, Stephen King  ก่อนแล้วค่อยอ่านผลงานของ Stephen King คิดเป็นร้อย 81.81

In [34]:
count1 = bookratinglow.groupby('authors').count().sort_values('user_id',ascending = False)
count_authors = count1.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','title','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_authors.head(10)

                             user_id
authors
Stephenie Meyer                 3254
Dan Brown                       2133
Stephen King                    1975
John Grisham                    1066
Nicholas Sparks                  982
J.K. Rowling, Mary GrandPré      856
Anne Rice                        838
John Steinbeck                   838
Michael Crichton                 807
Jodi Picoult                     758

กำหนดให้ authors เป็น transaction โดยนับจากจนวน user_id ที่สนในผลงานของผู้แต่งโดยเรียงลำดับจากมากไปหน่อย

In [35]:
title1 = bookratinglow.groupby('user_id')['title'].apply(list)
title1

user_id
1        [Running with Scissors, One Hundred Years of S...
3        [Cloud Atlas, The Fortress of Solitude, The Re...
4        [Atlas Shrugged, The Memory Keeper's Daughter,...
7        [Song of Susannah (The Dark Tower, #6), The Da...
8        [Beloved, Madame Bovary, Death in Venice and O...
                               ...
16285    [Little Bee, The Reader, The Elegance of the H...
16287    [A Briefer History of Time, The Hitchhiker's G...
16290    [Wuthering Heights, Animal Farm, Lord of the F...
22351                                     [Les Misérables]
37076    [The Memory Keeper's Daughter, Breaking Dawn (...
Name: title, Length: 11110, dtype: object

In [36]:
list(apriori(title1, min_support = 0.02, min_confidence = 0.8))

[RelationRecord(items=frozenset({'Eclipse (Twilight, #3)', 'Breaking Dawn (Twilight, #4)', 'New Moon (Twilight, #2)'}), support=0.029432943294329432, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Eclipse (Twilight, #3)', 'Breaking Dawn (Twilight, #4)'}), items_add=frozenset({'New Moon (Twilight, #2)'}), confidence=0.8299492385786801, lift=12.89613432253026), OrderedStatistic(items_base=frozenset({'Breaking Dawn (Twilight, #4)', 'New Moon (Twilight, #2)'}), items_add=frozenset({'Eclipse (Twilight, #3)'}), confidence=0.8560209424083769, lift=16.684899421328186)]),
 RelationRecord(items=frozenset({'Twilight (Twilight, #1)', 'Eclipse (Twilight, #3)', 'Breaking Dawn (Twilight, #4)'}), support=0.023582358235823584, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Twilight (Twilight, #1)', 'Breaking Dawn (Twilight, #4)'}), items_add=frozenset({'Eclipse (Twilight, #3)'}), confidence=0.8941979522184301, lift=17.42901622657326)]),
 RelationRecord(items=frozenset({'Twilight (Twilight, #1)', 'Breaking Dawn (Twilight, #4)', 'New Moon (Twilight, #2)'}), support=0.023132313231323132, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Twilight (Twilight, #1)', 'Breaking Dawn (Twilight, #4)'}), items_add=frozenset({'New Moon (Twilight, #2)'}), confidence=0.8771331058020478, lift=13.629299028616435)]),
 RelationRecord(items=frozenset({'Twilight (Twilight, #1)', 'Eclipse (Twilight, #3)', 'New Moon (Twilight, #2)'}), support=0.026912691269126914, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Twilight (Twilight, #1)', 'Eclipse (Twilight, #3)'}), items_add=frozenset({'New Moon (Twilight, #2)'}), confidence=0.9033232628398792, lift=14.036253776435045)]),
 RelationRecord(items=frozenset({'Twilight (Twilight, #1)', 'Eclipse (Twilight, #3)', 'Breaking Dawn (Twilight, #4)', 'New Moon (Twilight, #2)'}), support=0.021602160216021602, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Twilight (Twilight, #1)', 'Breaking Dawn (Twilight, #4)'}), items_add=frozenset({'Eclipse (Twilight, #3)', 'New Moon (Twilight, #2)'}), confidence=0.8191126279863482, lift=20.589007459113866), OrderedStatistic(items_base=frozenset({'Twilight (Twilight, #1)', 'Eclipse (Twilight, #3)', 'Breaking Dawn (Twilight, #4)'}), items_add=frozenset({'New Moon (Twilight, #2)'}), confidence=0.916030534351145, lift=14.233705226071638), OrderedStatistic(items_base=frozenset({'Twilight (Twilight, #1)', 'Breaking Dawn (Twilight, #4)', 'New Moon (Twilight, #2)'}), items_add=frozenset({'Eclipse (Twilight, #3)'}), confidence=0.933852140077821, lift=18.20192504607823), OrderedStatistic(items_base=frozenset({'Twilight (Twilight, #1)', 'Eclipse (Twilight, #3)', 'New Moon (Twilight, #2)'}), items_add=frozenset({'Breaking Dawn (Twilight, #4)'}), confidence=0.8026755852842808, lift=13.491264375958185)])]

ผู้อ่านมักอ่านเรื่อง New Moon (Twilight, #2)', 'Twilight (Twilight, #1)', 'Eclipse (Twilight, #3) ก่อนเรื่อง  Breaking Dawn (Twilight, #4) คิดเป็นร้อยละ 80.26

In [37]:
count2 = bookratinglow.groupby('title').count().sort_values('user_id',ascending = False)
count_title = count2.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','genre','image_url','rating'])
count_title.head(10)

                                        user_id
title
Twilight (Twilight, #1)                    1009
The Da Vinci Code (Robert Langdon, #2)      966
New Moon (Twilight, #2)                     715
Breaking Dawn (Twilight, #4)                661
Eat, Pray, Love                             596
The Catcher in the Rye                      586
Eclipse (Twilight, #3)                      570
Angels & Demons  (Robert Langdon, #1)       512
The Scarlet Letter                          494
The Great Gatsby                            491

กำหนดให้ title เป็น transaction โดยดับจากจำนวน user_id ที่สนใจในเรื่องที่ผู้อ่านสนใจโดยเรียงลำดับจากมากไปหน่อย

In [38]:
genre1= bookratinglow.groupby('user_id')['genre'].apply(list)
genre1

user_id
1        [memoir, classics, science-fiction, school, my...
3        [science-fiction, rory-gilmore-reading-challen...
4        [fiction, fiction, fiction, fiction, literatur...
7        [fantasy, fantasy, classics, fantasy, fantasy,...
8        [fiction, classics, fiction, fiction, clàssics...
                               ...
16285               [historical-fiction, fiction, fiction]
16287    [non-fiction, science-fiction, vampires, horro...
16290    [classics, classics, classics, fiction, horror...
22351                                           [classics]
37076                      [fiction, fantasy, young-adult]
Name: genre, Length: 11110, dtype: object

In [39]:
list(apriori(genre1, min_support = 0.1, min_confidence = 0.8))

[RelationRecord(items=frozenset({'chick-lit', 'fiction'}), support=0.11584158415841585, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chick-lit'}), items_add=frozenset({'fiction'}), confidence=0.874915023793338, lift=1.1973769295816685)]),
 RelationRecord(items=frozenset({'historical-fiction', 'fiction'}), support=0.17938793879387938, ordered_statistics=[OrderedStatistic(items_base=frozenset({'historical-fiction'}), items_add=frozenset({'fiction'}), confidence=0.8710664335664335, lift=1.1921098887562303)]),
 RelationRecord(items=frozenset({'horror', 'fiction'}), support=0.12367236723672367, ordered_statistics=[OrderedStatistic(items_base=frozenset({'horror'}), items_add=frozenset({'fiction'}), confidence=0.8207885304659499, lift=1.1233013763829396)]),
 RelationRecord(items=frozenset({'non-fiction', 'fiction'}), support=0.2558055805580558, ordered_statistics=[OrderedStatistic(items_base=frozenset({'non-fiction'}), items_add=frozenset({'fiction'}), confidence=0.8438242280285035, lift=1.154827195540364)]),
 RelationRecord(items=frozenset({'science-fiction', 'fiction'}), support=0.11098109810981098, ordered_statistics=[OrderedStatistic(items_base=frozenset({'science-fiction'}), items_add=frozenset({'fiction'}), confidence=0.8433652530779753, lift=1.154199059090454)]),
 RelationRecord(items=frozenset({'fantasy', 'fiction', 'classics'}), support=0.17686768676867687, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fantasy', 'classics'}), items_add=frozenset({'fiction'}), confidence=0.835814547001276, lift=1.1438654369529657)]),
 RelationRecord(items=frozenset({'historical-fiction', 'fiction', 'classics'}), support=0.11134113411341134, ordered_statistics=[OrderedStatistic(items_base=frozenset({'historical-fiction', 'classics'}), items_add=frozenset({'fiction'}), confidence=0.9088905216752388, lift=1.24387456218427)]),
 RelationRecord(items=frozenset({'non-fiction', 'fiction', 'classics'}), support=0.16246624662466247, ordered_statistics=[OrderedStatistic(items_base=frozenset({'non-fiction', 'classics'}), items_add=frozenset({'fiction'}), confidence=0.8944499504459861, lift=1.2241117208000623)]),
 RelationRecord(items=frozenset({'young-adult', 'fiction', 'classics'}), support=0.12457245724572458, ordered_statistics=[OrderedStatistic(items_base=frozenset({'young-adult', 'classics'}), items_add=frozenset({'fiction'}), confidence=0.8170011806375443, lift=1.1181181469429808)]),
 RelationRecord(items=frozenset({'non-fiction', 'fantasy', 'fiction'}), support=0.10216021602160216, ordered_statistics=[OrderedStatistic(items_base=frozenset({'non-fiction', 'fantasy'}), items_add=frozenset({'fiction'}), confidence=0.8986539984164688, lift=1.22986522818514)])]

ผู้อ่านมักเลือกหนังสือประเภท non-fiction, fantasy ก่อนแล้วค่อยอ่านหนังสือประเถท fiction คิดเป็นร้อยละ 89.86

In [40]:
count3 = bookratinghigh.groupby('genre').count().sort_values('user_id',ascending = False)
count_genre = count3.drop(columns=['book_id','goodreads_book_id','original_publication_year','original_title','authors','language_code','average_rating','ratings_count','medium_image_url','small_image_url','desc','title','image_url','rating'])
count_genre.head(10)

                    user_id
genre
fiction              205641
classics             141576
fantasy              128309
young-adult           51045
non-fiction           49630
historical-fiction    32488
mystery               30464
science-fiction       26547
horror                24566
childrens             18888

กำหนดให้ genre เป็น transaction โดยดับจากจำนวน user_id ที่สนใจในประเภทของหนังสือโดยเรียงลำดับจากมากไปหน่อย